<!DOCTYPE html>
<html>
<head>
  <title> Prototype Website</title>
  </head>  
  <body>
    <h1>Protype Website </h1>
    <p>By tonight I will have a fully functioning website
    </p>
  </body>
</html>